MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=metabase
MB_DB_PASS=<put_here_the_password_for_the_metabase_user>
MB_DB_HOST=db
MB_ENCRYPTION_SECRET_KEY=<Add a random string here as the secret>
