MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=54320
MB_DB_USER=metabase
MB_DB_PASS=<put_here_the_password_for_the_metabase_user>
# Make sure the firewall at the database server allows connections to port 54320
MB_DB_HOST=<put here the IP address for the Metabase database server e.g. 00.000.000.00>
MB_ENCRYPTION_SECRET_KEY=<Add a random string here as the secret>
