# Add the password for the postgres user
POSTGRES_PASSWORD=<put here the_password for the postgres user>
# Add the password for the metabase user
METABASE_PASSWORD=<put here the password for the metabase user>
